<div class="row justify-content-center topic-wrap">
  <div class="col-12 col-md-8 topic-content mr-2">
    <h3 class="topic-head">トピック一覧</h3>
  </div>
  <div class="col-12 col-md-3 category-content ml-2">

  </div>
</div>