<div class="row justify-content-center record-content">
  <div class="col-12">
    <%= month_calendar events: @records do |date, records| %>
      <% records.each do |record| %>
      <%#= link_to "クリック", edit_pet_record_path(@pet,record.id) %>
        <%= link_to edit_pet_record_path(@pet,record.id) do%>
          <%= date.day %>
        <% end %>
        <div class="text-left pt-3">
          <% if record.memo.present? || record.record_image.present? %>
            <span class="text-left pt-3"><i class="fas fa-pencil-alt fa-1x"></i></span>
          <% end %>
          <% if record.history.present? || record.hospital_id.present? %>
            <span class="text-left pt-3"><i class="fas fa-clinic-medical fa-1x"></i></span>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>