<div class="row align-items-center">
  <div class="col">
  </div>
  <div class="col-12 hopsital-content">
    <div class="row justify-content-center">
      <div class="col">
      </div>
      <div class="col-8">
        <h3 class="title-text">病院検索</h3>

        <div class="d-flex justify-content-center">
          <% @hospitals.each do |hospital| %>

          <div class="hospital-list">
            <h4 class="pet-name"><%= hospital.name %></h4>
          </div>
          <% end %>
        </div>

      </div>
      <div class="col">
      </div>
    </div>
  </div>
  <div class="col">
  </div>
</div>

