/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require simple_calendar
 */
 @import "font-awesome-sprockets";
 @import "font-awesome";
 @import "bootstrap";

$main-color: rgb(240,240,240);
$app-color: #8dc9b4;/*#ACDBC9*/
$font-color: #333;
$auth: #398596;/*7EA6E0*/
$auth-action: #76b0bd;/*#A9C4EB*/
$pet: #f3a9a9;
$reco: #FFA530;
$topic: #f6ae5f;
$topic-action: #f3bc80;

$ja-font: 'M PLUS Rounded 1c', sans-serif;
$home-font: 'inherit','helvetica',sans-serif;

@mixin button {
  border: none;
  color: #fff;
  padding: 14px 48px;
}

@mixin circ-button {
  @include button;
  border-radius: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all .3s;
  transition: all .3s;
}

@mixin sq-button {
  @include button;
  border-radius: 3px;
}

@mixin close-button {
  color:grey;
    &:hover {
    color:#555;
    }
  }

@mixin box {
  box-shadow: 0 1px 5px 0 rgba(0,0,0,.1);
  background-color: white;
  border-radius: 5px;
  text-align: center;
  margin: 20px 0;
  min-height: 600px;
}

body
,#wrap {
  background-color: $main-color;
  -webkit-text-size-adjust: 100%;
  margin: 0;
  padding: 0;
  font-family: $ja-font;
  color: #444;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/*ヘッダー*/
header {
  background-color: #fff;
  .header-logo {
    width: 35%;
  }

}

.navbar {
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}

/*フッター*/
.footer-content{
  background-color: $app-color;
  margin-top: auto;

  .nav-style {
    list-style: none;
    color: #fff;
  }

}

/*認証*/
.form-content{
  padding: 50px 0;

  .auth-form {
    box-shadow: 0 20px 40px 0 rgba(0,0,0,.5);
    background-color: white;
    border-radius: 5px;
    padding: 60px 0;
    text-align: center;

    .form-title {
      color: $auth;
      font-weight: bold;
      margin-bottom: 30px;
    }

    .form-btn {
      @include circ-button;
      background-color: $auth;
      margin-top: 20px;

      &:hover {
        background-color: $auth-action;
      }
    }
  }
}

 /*home*/

.body-wrap {
  background: #fff;

  #mv {
    background-image: url(top5.jpg);
    width: 100%;
    height: 650px;
    background-size: cover;
    background-position: center;

    .key-visual {
      padding-top: 200px;
    }

    .catch {
      color: #fff;
      font-weight: 1000;
      font-family: $home-font;
    }

    .head-text {
      color: #fff;
      font-size: 18px;
      font-family: $home-font;
    }

  }


  .service-content {
    text-align: center; /*中央寄せ*/
    font-family: $home-font;
  }


  .service-content:after{/*疑似要素*/
    content: '';
    display: block; /*改行するように*/
    width: 30px;
    height: 2px;
    background: $app-color;
    margin: 20px auto 0 auto;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.3);

  }

}


/*about*/
#sv {
  background-image: url(top2.jpg);
  width: 100%;
  height: 450px;
  background-size: cover;
  background-position: 90% 15%;

  .about-visual {
    padding-top: 130px;
  }

  .catch {
    color: #fff;
    font-weight: 1000;
    font-family: $home-font;
  }

  .head-text {
    color: #fff;
    font-size: 35px;
    margin: 0;
    font-family: $home-font;
  }

}

.service-content {
  text-align: center; /*中央寄せ*/
}


.service-content:after{/*疑似要素*/
  content: '';
  display: block; /*改行するように*/
  width: 30px;
  height: 2px;
  background: $app-color;
  margin: 20px auto 0 auto;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.3);

}


/* ---- pet ----- */
  /* 登録 */

.pet-form {
  @include box;

  .btn-close {
    @include close-button
  }

  .form-area{
    padding: 50px 20px;
  }

  .form-title {
    color: $pet;
    font-weight: bold;
    margin-bottom: 50px;
  }

  .btn-pet {
    @include circ-button;
    background-color: $pet;
    margin-top: 30px;

    &:hover {
      background-color: transparent;
      border: 2px solid $pet;
      color: $pet;
    }
  }
}
  /* 一覧 */

.pet-content{

  .pet-select {
    @include box;
    padding: 80px;

    .select-title {
      color: $pet;
      font-weight: bold;
      margin-bottom: 50px;
    }

    .pet-list {
      margin-right: 20px;
      background-color: rgba(250,250,250,0.6);
      border-radius: 5px;
      box-shadow: 0 1px 5px 0 rgba(0,0,0,.2);
      border: solid $pet 1px;
      padding: 30px;
      cursor: pointer;
      text-decoration: none;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      -webkit-transition: all .3s;
      transition: all .3s;

      &:hover {
        -webkit-transform: translateY(-5px);
        -ms-transform: translateY(-5px);
        transform: translateY(-5px);
        }

        .pet-name {
          padding-top: 20px;
          color: $pet;
        }
      }

    .btn-pet {
      @include circ-button;
      background-color: $pet;
      margin-top: 50px;

      &:hover {
        background-color: transparent;
        border: 2px solid $pet;
        color: $pet;
      }
    }
  }
}

/* ---- hospital ----- */
.hopsital-content {
  @include box;
  padding: 0 50px 50px;

  .btn-close {
    @include close-button
  }

  .title-text {
    color: $app-color;
    margin-bottom: 50px;
  }

  .search-area {
    margin-bottom: 30px;
  }

  .hospital-list {
    box-shadow: 0 1px 5px 0 rgba(0,0,0,.1);
    background-color: white;
    border-radius: 5px;
    text-align: center;
    padding: 30px;
  }

  .btn-hospital {
    @include sq-button;
    background-color: $reco;
  }
}

/* ---- record ----- */

.record-content {
  @include box;
  padding: 50px 80px;

  .record-form {
    padding: 10px;

    .btn-will {
      @include circ-button;
    }

  }
  .btn-record {
    @include sq-button;
    background-color: $reco;
  }

}

/* ---- topic(comment) ----- */
/*-- index --*/
.topic-wrap {

  .topic-content {
    @include box;
    padding: 50px;

    .topic-head {
      border-bottom: dotted 2px #ccc;

       .topic-head-text {
        color: $topic;
        font-weight: bold;
        text-decoration: none;

        &:hover {
          color: $topic-action;
        }

      }

    }

    .pagination>li>a {
      border: none;     /*枠線をなくす*/
      color: #aaa;   /*文字の色を変える*/

       /* 表示しているページ番号のデザイン */
      .active {
      background: #ccc;     /*背景の色を変える*/
      border-radius: 15px;     /*角を丸くする*/
      }
      /*ホバー時のデザイン*/
      &:hover {
        border-radius: 15px;/*角を丸くする*/
      }

    }

    .topic-list {
      border-bottom: solid 1px #ccc;
      text-decoration: none;

      &:hover {
        background: #efefef;
      }

      .topic-info {
        color: #aaa;
      }

      .topic-title {
        color: $topic;
      }

    }

  }

  .side-content {

    .btn-topic {
      @include sq-button;
      background-color: $topic;

      &:hover {
        background-color: $topic-action;
      }

    }

    .category-content {
      box-shadow: 0 1px 5px 0 rgba(0,0,0,.1);
      background-color: white;
      border-radius: 5px;
      text-align: center;

      .category-title {
        background-color: #aaa;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        color: #fff;
      }

    }
    #back {
      position: fixed;
      right: 300px;
      bottom: 50px;

      i {
        color: $auth;
        opacity: 50%;

        &:hover {
        color: $auth-action;
        }

      }

    }
  }
}
/*-- new --*/
.topic-form {
  @include box;
  padding: 50px;

  .btn-topic {
    @include sq-button;
    background-color: $topic;

    &:hover {
      background-color: $topic-action;
    }
  }

}

/*-- comment --*/
.comment-list {
  border-bottom: solid 1px #ccc;

  .comment-info {
    color: #aaa;
  }
}


.btn-comment {
  @include sq-button;
    background-color: $topic;

    &:hover {
      background-color: $topic-action;
    }
}

/* ---- item ----- */
/*-- index --*/
.item-content {
  @include box;
  padding: 50px 50px;

    .btn-item {
      @include circ-button;
      background: $pet;
    }

    .item-list {
     @include box;
     min-height: 0;

      .btn-trash {
        color: #aaa;
        background: #eee;

      /*ホバー時のデザイン*/
        &:hover {
          color: #fff;
          background: #ccc;
        }

      }
    }

}

/*-- edit --*/
.item-edit {
  @include box;
  padding: 50px 100px;

}