/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
 @import "bootstrap";

$main-color :rgb(240,240,240);
$app-color :#ACDBC9;
$font-color: #333;
$auth :#7EA6E0;
$auth-action :#A9C4EB;

html{
  height: 100%;
}

body {
  background-color: $main-color;
  -webkit-text-size-adjust:100%;
  margin:0;
  padding:0;
}

/*ヘッダー*/
.navbar {
  margin-bottom: 30px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}

/*フッター*/
.footer-content{
  background-color: $app-color;
  margin-top: 30px;

  .nav-style {
    list-style: none;
    color: #fff;
  }

}

/*認証*/
.form-content{
  padding:80px 0;

  .auth-form {
    box-shadow: 0 20px 40px 0 rgba(0,0,0,.5);
    background-color: white;
    border-radius: 5px;
    padding: 60px 0;
    text-align: center;

    .form-title {
      color: $auth;
      font-weight: bold;
      margin-bottom: 30px;
    }

    .form-btn {
      background-color: $auth;
      border: none;
      border-radius: 30px;
      margin-top: 20px;

      &:hover {
        background-color: $auth-action;
      }
    }
  }
}

 /*home*/

  .top-img {
    filter:opacity(40%)drop-shadow(5px 5px 10px #FFEFF7);
  }

  .no-gutters {
    margin:0;
    padding:0;
  }

  .top-title {
    max-width: 100%;
    max-height: 100%;
    padding: 30px;
    text-align: center;
  }



