<footer class="py-4 text-light footer-content">
  <div class="container text-center">
    <ul class="nav justify-content-center mb-3">
      <li class="nav-item">
        <%= link_to 'RecoPetsとは', root_path, class: "nav-link nav-style" %>
      </li>
      <li class="nav-item">
        <%= link_to 'よくある質問', root_path, class: "nav-link nav-style" %>
      </li>
      <li class="nav-item">
        <%= link_to '問い合せ', root_path, class: "nav-link nav-style" %>
      </li>
    </ul>
    <p><small>Copyright &copy;2020 RecoPets, All Rights Reserved.</small></p>
  </div>
</footer>